@import "./views/Habits";

.App {
  text-align: center;
  padding-left: calc(100vw - 100%);

  .header {
    border-bottom: 1px #cccccc solid;
    padding: 5px;
    font-size: 20px;
    background-color: #cccccc;
}
}
